<h1><strong>待审核留言<strong></h1>
<table>
  <tr>
    <th>留言列表</th>
  </tr>

  <% @comment.each do |c| %>
    <tr>
      <% if c.pass == false %>
        <td><%= c.content %></td>
        <td><%= link_to "通过","/pass/#{c.id}" %></td>
     <% end %>
    </tr>
  <% end %>
</table>
